// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.greeting {
  position: relative;
  padding: 5px 15px;
  float: right;
}